/*
  A theme inspired by ir_black (http://blog.infinitered.com/entries/show/2)
  @author Jeff Schoolcraft
  @description ir_blackish

  The following are the preferred 16 colors for your terminal
            Colors      Bright Colors
  Black     #4E4E4E     #7C7C7C
  Red       #FF6C60     #FFB6B0
  Green     #A8FF60     #CEFFAB
  Yellow    #FFFFB6     #FFFFCB
  Blue      #96CBFE     #FFFFCB
  Magenta   #FF73FD     #FF9CFE
  Cyan      #C6C5FE     #DFDFFE
  White     #EEEEEE     #FFFFFF
  Orange    #FFA500     #FFC534
*/

html {
  font-family: 'Monaco';
  font-size: 9pt;
  background-color: #000;
  color: #EEEEEE;
}

body {}

.url { color: #FF73FD; }
.address {}
.highlight {
  font-weight: normal;
  color: #FC7E5C;
  background-color: #4D794A;
}

.line {}
.line[alternate=even] {}
.line[alternate=odd] {}

.line[highlight=true] {
  border-bottom: solid 1px #CDF92A;
  color: #FC7E5C;
}

/* Handle the overload of non important messages by ignoring them */
.line[type=join], .line[type=part], .line[type=quit] { display: none; }

.time { color: #FFFFCB; }
.place { color: #96CBFE; }

/* nickname for text messages */
.sender[type=myself] { color: #666; }
.sender[type=normal] { color: #96CBFE; }
.sender[type=normal] { color: #000; }
.sender[type=normal][colornumber='0'] { color: #C00; }
.sender[type=normal][colornumber='1'] { color: #CC0; }
.sender[type=normal][colornumber='2'] { color: #C80; }
.sender[type=normal][colornumber='3'] { color: #0C0; }
.sender[type=normal][colornumber='4'] { color: #080; }
.sender[type=normal][colornumber='5'] { color: #88C; }
.sender[type=normal][colornumber='6'] { color: #8C0; }
.sender[type=normal][colornumber='7'] { color: #800; }
.sender[type=normal][colornumber='8'] { color: #C0C; }
.sender[type=normal][colornumber='9'] { color: #CC8; }
.sender[type=normal][colornumber='10'] { color: #C8C; }
.sender[type=normal][colornumber='11'] { color: #0CC; }
.sender[type=normal][colornumber='12'] { color: #08C; }
.sender[type=normal][colornumber='13'] { color: #80C; }
.sender[type=normal][colornumber='14'] { color: #8CC; }
.sender[type=normal][colornumber='15'] { color: #880; }

.sender[type=myself] { color: #DFDFFE; }

.message[type=privmsg] {}
.message[type=notice] { color: #AE8500; }
.message[type=action] { color: #FFA500;}

.message[type=system], .message[type=join], .message[type=part], .message[type=kick],
.message[type=quit], .message[type=kill], .message[type=nick], .message[type=mode],
.message[type=topic], .message[type=invite], .message[type=wallops] {
  color: #A8FF60;
}
.message[type=reply] { color: #509036; }

.message[type=error], .message[type=error_reply] { color: #FF6C60; }
.message[type=dcc_send_send] { color: #FF6C60; }
.message[type=dcc_send_receive] { color: #FF6C60; }
.message[type=debug_send] { color: #FF6C60; }
.message[type=debug_receive] { color: #FF6C60; }
